<strong>Welcome to Happy Dance Quilting!</strong>
<p>
We are a family business devoted to producing beautiful, high quality quilts from treasured t-shirts or other fabrics. We also offer art quilting and wedding/party quilting services. As quilt lovers and professionals, we are committed to excellence and offer the highest quality services, including full long-arm quilting.
<p>
Please use the either the bar above or below to navigate, and enjoy your stay! If you have any questions, please feel free to contact us.
<p>
<img src="img/t_3x4_sashing.jpg">