
<div ng-controller="OrderController">

	<button ng-repeat="t in getPages()"
			ng-click="setPage(t.page)"
			ng-disabled="tabDisabled(t.page)">
				{{t.tabText}}
	</button>

	<div>
		<button ng-click="previous()" ng-disabled="cantGoBack()">Previous Step</button>
		<button ng-click="next()" ng-disabled="cantGoForward()">Next Step</button>
	</div>
	<div ng-mouseleave="mouseOut()" ng-mouseover="mouseOver()">
		<br>size: {{orderModel.getSize()}}
		<br>backing fabric: {{orderModel.getBackingColor()}}
		<br>sashing: {{orderModel.getSashing()}}
		<br>thread: {{orderModel.getThread()}}
		<br>promo: {{orderModel.getPromoCode()}}
	</div>

	<div>
		<ng-include src="currentPartial()"></ng-include>
	</div>

</div>
