Here are a few examples of our quilts.
<p>
<sample-quilt img-path="img/t_3x3_no_sashing.jpg" text="This is a 3x3 quilt without sashing."></sample-quilt>
<sample-quilt img-path="img/t_3x4_sashing.jpg" text="This is a 3x4 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/t7.jpg" text="This is a 4x4 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/ts6.png" text="This is a 4x5 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/t_4x4_sashing.jpg" text="This is a 4x4 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/t_4x4_sashing_2.jpg" text="This is a 4x4 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/t_4x6_sashing.jpg" text="This is a 4x6 quilt with sashing."></sample-quilt>
<sample-quilt img-path="img/ts5.png" text="This is a 3x3 quilt with sashing."></sample-quilt>
